{% extends 'base.html' %}

{% block title %}
    PLL Algs
{% endblock %}

{% block header %}
    <h1 class="text-center display-3">PLL Algorithms</h1>
{% endblock %}

{% block content %}
    <h2>Edges Only</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Algorithm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ua Perm</td>
                <td>(R U R' U R') U' R2 U' (R' U R' U R)</td>
            </tr>
        </tbody>
    </table>
{% endblock %}